    <div style="height:16px"></div>
    <div class="noPrint small appFooterNote" style="text-align:center">
      نظام فريق المهام ومؤشرات الأداء • الإصدار <span style="font-weight:900"><%= appVersion %></span>
      <span style="opacity:.7">• يمكن إضافة الشعار وبيانات الجهة من صفحة (الإعدادات)</span>
    </div>
    <div style="height:18px"></div>
  </div>
</body>
</html>
